{% extends "base.html" %}
{% block content %}
<div class="container page-form">
    <h1>Macros Update</h1>
    <form id="registration-form" action="/update/macros" method="post">
        <fieldset>
            <div class="form-group">
                <label for="protein">Protein Requirement</label>
                <input type="number" class="form-control" id="protein" name="protein"/>
            </div>
            <div class="form-group">
                <label for="carbs">Carb Requirement</label>
                <input type="number" class="form-control" id="carbs" name="carbs"/>
            </div>
            <div class="form-group">
                <label for="fat">Fat Requirement</label>
                <input type="number" class="form-control" id="fat" name="fat"/>
            </div>

            <button type="submit" class="btn btn-primary">Update</button>
        </fieldset>
    </form>
</div>
{% endblock %}